.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 200px;
}

.toggle__btn {
  border: none;
  padding: 15px;
  background-color: #acd0ee;
  color: rgb(33, 33, 36);
  font-weight: 800;
  border-radius: 0.3em;
  cursor: pointer;
}
