.p {
  width: 25%;
  max-width: 30vh;
  height: 25%;
  max-height: 30vh;
  margin: 20px 10px;
  border: 2px solid rgb(55, 55, 55);
  border-radius: 10px 10px 0px 0px;
  overflow: hidden;
}

.p img {
  width: auto;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.p img:hover {
  -webkit-filter: grayscale(0);
  filter: grayscale(0);
}
