.home__img {
  width: 80vw;
  max-width: 80vw;
  object-fit: cover;
}

.main__home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 50px 200px;
}

.par {
  width: 80vw;
  text-align: center;
  font-size: x-large;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 200;
}

/* .gallery__div {
  height: 100vh;
} */
