.footer {
  padding: 12px;
  background-color: aliceblue;
  height: 5vh;
  display: flex;
  justify-content: space-evenly;
}

.footer__button {
  border: none;
  padding: 15px;
  background-color: #acd0ee;
  color: rgb(33, 33, 36);
  font-weight: 800;
  border-radius: 0.3em;
  cursor: pointer;
}
